.dreaming {
  padding-top: 50px;
  .dreaming-picture-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .dreaming-picture {
      width: 30vw;
    }
  }
}
