.menu {
  color: grey;
  //font-family: "Changa One", cursive;
  ////font-family: 'Galindo', cursive;
  font-family: 'Lilita One', cursive;
  // font-family: "Passion One", cursive;
  font-size: 20px;
  // text-transform: uppercase;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2vh;
  text-decoration: none;
  font-weight: 200;
  position: fixed;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 500;
  .link {
    cursor: pointer;
    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
